@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --blank: white;
    --black: black;

    --sri: 'Sriracha', cursive;
    --passion: 'Passion One', cursive;
}
body {

    background-size: cover; 
    margin: 0px;
    /* font: normal normal 1em var(--sri); */
    font-size: 100%
}

header {
    position: sticky;
    top: -25px;
    background-color: var(--black);
    color: var(--blank);
    text-align: center;
    padding: 20px;
}

header > h1 {
    font: 700 10vw var(--passion);
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

header > h2 {
    font: normal normal 2vw Arial;
    padding: 0;
    margin: -10px 10px 10px 10px;
}

header > h2 > a {
    font: normal 400 3vw var(--passion);
    padding: 0px;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    color: white;
}




.shadow {
    box-shadow: 40px 40px 40px lightblue;
}

section.preenchido {
    height: auto;
    background-color: white;
    padding: 30px;
}

section.preenchido > p {
    margin: 5px;
    font: 100 3vw var(--sri);
    text-align: left;
    color: black;

}

section.imagem {
    display: inline-block;
    margin: 120px 0px;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 30px;
}

section.imagem > p {
    margin: 5px;
    font: 100 3vw var(--sri);
    text-align: left;
    color: white;
}

section#flor {
    width: 100%;
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    
    box-shadow: inset 0px 400px 50px black, inset 0px -670px 50px black; 
}
section#book {
    width: 100%;
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position:initial;

    box-shadow: inset 0px 20px 50px black, inset 0px -670px 50px black; 

}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    font: normal normal 1em var(--passion);
    text-align: center;
}

footer > p {
    margin: 0px;
}

footer > p > a{
    color: whitesmoke;
    text-decoration: none;
}
