* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #5f7c8a;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

section.login-container {
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 500px;
    width: 50vw;
    height: auto;
    border-radius: 10px;
}
section.login-container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5f7c8a;
    padding: 15px;
    font-size: 2.4em;
    font-weight: 900;
}

input[id="email"],
input[id="pass"]  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    text-indent: 20px;
    border-radius: 30px;
    border: 1px solid black;

}

input[id="email"]:focus,
input[id="pass"]:focus  {
    border: 0;
    outline-color: #5f7c8a;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #90bdd3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1em;
    cursor: pointer;

}
input[type="submit"]:hover {
    background-color: #5f7c8a;
    transition: all .5s;
}

#forgot-pass{
    text-decoration: none;
    color: #90bdd3;
}

.hr-or {
    display: flex;
    line-height: 1em;
    margin: 25% 0;
    width: 100%;
    color: black;
    text-align: center;
}

.hr-or::before,
.hr-or::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
    margin: auto;

}

.hr-or:not(:empty):before,
.hr-or:not(:empty):after {
    margin-right: 20px;
    margin-left: 20px;

}

    
.cadastro-socialmedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.cadastro-socialmedia p {
    text-align: center;
    width: 100%;
    font-size: 1em;

}

.cadastro-socialmedia img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
