:root {
    --cor01: #83FDDF;
    --cor02: #38FCCB;
    --cor03: #2CCCA3;
    --cor04: #1B7D65;
    --cor05: #417D6E;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    top: -10px;
    background-color: var(--cor05);
    height: 100px;
}

#logo {
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

nav {
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
}

nav > a {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: var(--cor05);

    text-align: right;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

nav > a:hover {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: var(--cor04);

    text-align: right;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
section#img1 {
    background-image: url('../images/background001.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    box-shadow: inset 2px 2px 20px black;

    position: relative;
    height: 100vh;
}

section#img1 > h1 {
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font: 800 10vh arial;
    line-height: 100%;
    top: 45%;
    transform: translateY(-50%);
}

section#img1 > h2 {
    position: relative;
    color: rgb(202, 202, 202);
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font: 800px 5vh arial;
    top: 45%;
    transform: translateY(-50%);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: auto;
    padding-top: 300px;
    padding-bottom: 300px;

    background-color: var(--cor05);
}

.interactive-box{
    display: flex;
    height: 300px;
    width: 300px;
    margin-bottom: 40px;


    background-size: cover;
    background-position: center;

    border-radius: 20px;
    filter: brightness(70%);
    box-shadow: 2px 2px 10px black;
}

.interactive-box:hover {
    filter: brightness(100%);
    transition: all 1s ease;
    
    box-shadow: 2px 2px 20px black;

}

.interactive-box > h3 {
    position: absolute;
    align-self: flex-end;
    text-align: center;

    padding: 10px;
    background-color: white;
    width: 100%;

    border-radius: 0px 0px 20px 20px;
}

.interactive-box > p {
    position: absolute;
    align-self: center;
    justify-self: center;
    text-align: center;
    
    font: 200 1em arial;
    color: white;

    filter: opacity(0%);
}

.interactive-box:hover > p {
    filter: opacity(100%);
    transition: all 1s ease;
}

section#img2 {
    background-image: url('../images/background002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    box-shadow: inset 2px 2px 20px black;
    background-attachment: fixed;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
}



.montagem{
    background-image: url("../images/background002.jpg");
}

.entrega{
    background-image: url("../images/comprasplchldr.webp");
}

.medicao{
    background-image: url("../images/mediçãoplchldr.png");
}
