*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(214, 214, 214, 1);
    height: 130px;
    top: -5px;
}

#logo {
    width: 130px;
    height: 130px;
    margin-left: 50%;
}

section#img1 {
    background-image: url('../images/background001.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    box-shadow: inset 2px 2px 20px black;
    background-attachment: fixed;

    position: relative;


}

section#img1 > h1 {
    position: relative;
    color: white;
    text-align: center;
    font: 800 10vh arial;
    line-height: 100%;
    top: 45%;
    transform: translateY(-50%);
}

section#img1 > h2 {
    position: relative;
    color: rgb(202, 202, 202);
    text-align: center;
    font: 800px 5vh arial;
    top: 45%;
    transform: translateY(-50%);
}





.container {
    height: auto;
    display: flex;
    background-color: darkslategray;
    align-content: center;
    padding: 350px 30px 350px 30px;
}

.ltsquare{
    height: 500px;
    width: 500px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    float: top;
    filter: brightness(70%);
}

.ltsquare:hover {
    filter: brightness(100%);
    transition: all 1s ease;
}

.montagem{
    background-image: url("../images/background002.jpg");
}

.market{
    background-image: url("../images/comprasplchldr.webp");
}

.medicao{
    background-image: url("../images/mediçãoplchldr.png");
}

.ltsquare > h2 {
    text-align: center;
    background-color: white;
    position: inherit;
    vertical-align: text-bottom;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}
.ltsquare > p {
    font: 400 1.5em arial;
    text-align: center;
    color: white;
    margin-top: -90%;
    filter: opacity(0%);
}
.ltsquare:hover > p {
    font: 400 1.5em arial;
    text-align: center;
    color: white;
    margin-top: -90%;
    filter: opacity(100%);
    text-shadow: 2px 2px 2px black;
}

section#img2 {
    background-image: url('../images/background002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;

    box-shadow: inset 2px 2px 20px black;
    background-attachment: fixed;
}


footer {
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
}