.montagem{
    background-image: url("../images/background002.jpg");
}

.entrega{
    background-image: url("../images/comprasplchldr.webp");
}

.medicao{
    background-image: url("../images/mediçãoplchldr.png");
}
#img1{
    background-image: url('../images/background001.jpg');
}
#img2{
    background-image: url('../images/background002.jpg');
}